body{
	margin-top: 10px;
}
.car{
	border-bottom:1px solid #34ACAF;
	border-right: 1px solid #34ACAF;
	text-align: center;
	padding: 30px;
}
.car:last-child{
	border-bottom: none;
}

.car:nth-child(3n){
	border-right: none;
}
.car:nth-child(4n){
	border-bottom: none;
}
.car a{
	border:3px solid #000;
	border-radius: 30px;
	display: block;
	overflow: hidden;
	text-decoration: none;
}
.car p{
	background: #0072BB;
	padding: 10px 0;
	margin-bottom: 0px;
	color:#fff;
	text-transform: uppercase;
	font-weight: bold;
}
img{
	width: 300px;
	height: 200px;
    display: block;
    margin: 0 auto;
}