body{
	margin-top: 20px;
}
.car{
	border-bottom:1px solid #34ACAF;
	border-right: 1px solid #34ACAF;
	text-align: center;
	padding: 30px;
}
.car .primer{
	height: 220px;
}
.car:last-child{
	border-bottom: none;
}
.car:nth-child(3n){
	border-right: none;
}
.car:nth-child(4n){
	border-bottom: none;
}
.car a{
	border:3px solid #000;
	border-radius: 30px;
	display: block;
	overflow: hidden;
	text-decoration: none;
}
.car p{
	background: #0072BB;
	padding: 10px 0;
	margin-bottom: 0px;
	color:#fff;
	text-transform: uppercase;
	font-weight: bold;
}
img{
	width: 300px;
	height: 180px;
    display: block;
    margin: 0 auto;
}
#search_input{
	width: 600px;
	max-width: 90%;
	margin: 0px auto 30px;
}
#search_input input{
	border:2px solid #90afc5;
	box-shadow: none;
	border-right: none;
	color:#000;
	font-weight: bold;
	font-style: italic;
}
#search_input .search_field:focus{
	box-shadow: none;
	color: transparent;
}
#search_input input[type="text"]::-webkit-input-placeholder {
  font-weight: bold;
  color:#000;
  font-style: italic;
}
#search_input .input-group-addon{
	background: transparent;
	border:2px solid #90afc5;
	color: #336b87;
}
