body{
	margin-top: 50px;
}

#search_input{
	width: 600px;
	max-width: 90%;
	margin: 0px auto 30px;
}
#search_input input{
	border:2px solid #90afc5;
	box-shadow: none;
	border-right: none;
	color:#000;
	font-weight: bold;
	font-style: italic;
}
#search_input .search_field:focus{
	box-shadow: none;
	color: transparent;
}
#search_input input[type="text"]::-webkit-input-placeholder {
  font-weight: bold;
  color:#000;
  font-style: italic;
}
#search_input .input-group-addon{
	background: transparent;
	border:2px solid #90afc5;
	color: #336b87;
}
