.card{
  width: 100%;
  height: 220px;
  position: relative;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  -ms-perspective: 800px;
   perspective: 800px;
}
.card img{
    width: 280px;
    height: 80%;
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
}
.card p{
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-bottom: 0px;
}
.card p.description{
    bottom: 25px;
    position: absolute;
    margin-bottom: 0px;
    text-transform: none;
}
.car span {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.card:hover .front{
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.card:hover .back{
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.faces{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;  
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  backface-visibility: hidden;

  -webkit-transition:1s ease-in-out;
  -moz-transition:1s ease-in-out;
  -o-transition:1s ease-in-out;
  -ms-transition:1s ease-in-out;
  transition: 1s ease-in-out;
}
.back{
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
  transform: rotateY(180deg);

}